.excersise{
  text-align: center;
}

.Nav_Menu{
  display: inline-grid;
  width: 100%;
  grid-template-columns: 10px auto 100px 100px 100px 100px 10px;
}

.Nav_Menu h1{
  grid-column-start: 2;
  grid-column-end: span 1;
  text-align: left;
  align-self: center;
  width: 100%;
  margin: 10px
}

.Nav_Link1{
  margin: 0;
  text-decoration: none;
  color: black;
  grid-column-start: 3;
  grid-column-end: span 1;
  align-self: center;
  padding: 0;
}

.Nav_Link2{
  margin: 5px;
  text-decoration: none;
  color: black;
  grid-column-start: 4;
  grid-column-end: span 1;
  align-self: center;
}

.Nav_Link3{
  margin: 5px;
  text-decoration: none;
  color: black;
  grid-column-start: 5;
  grid-column-end: span 1;
  align-self: center;
}

.Nav_Link4{
  margin: 5px;
  text-decoration: none;
  color: black;
  grid-column-start: 6;
  grid-column-end: span 1;
  align-self: center;
}

.keylogger {
  text-align: center;
}

.add{
  text-align: center;
  margin: 5%;
}

button{
  margin: 0;
  padding: 0;
  border: none;
}

.input{
  width: 260px;
}

.search input{
  width: 300px;
}

ol{
  list-style: none;
  padding: 0;
  text-align: center; 
}

ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

button{
  margin: 10px;
}

h2{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
