.newExcersise{
  border-bottom: 2px black;
}
.App{
  display: grid;
  text-align: center;
}

.keylogger {
  text-align: center;
  margin: 5%;
}

.add{
  text-align: center;
  margin: 5%;
}

ol{
  list-style: none;
  padding: 0;
}

ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

button{
  margin: 10px;
}

.Calc{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
