.excersise{
  text-align: center;
}
.AppDiv{
  background-color: grey;
}

.keylogger {
  text-align: center;
  margin: 5%;
}

.add{
  text-align: center;
  margin: 5%;
}

button{
  margin: 0;
  padding: 0;
  border: none;
}

.input{
  width: 260px;
}

.search input{
  width: 300px;
}

ol{
  list-style: none;
  padding: 0;
  text-align: center; 
}

ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

button{
  margin: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
